<section class="container-fluid portfolio-banner">
  <div class="container">
    <div class="row">
      <div class="col-md-5 jumbotron">
        <h1>
          <span class="glyphicon glyphicon-user"></span>
          <%= @portfolio.full_name %>
        </h1>
      </div>
      <div class="col-md-6 col-md-offset-1 bio-skills">
        <h2 class="portfolio-bio">
          <%= @portfolio.bio %>
        </h2>
        <h4>
          <% @portfolio.skills.each do |skill| %>
            <span class="label label-primary"><%= skill.name %></span>
          <% end %>
        </h4>
      </div>
    </div>
  </div>
</section>
<section class="container projects">
  <div class="row project-window">
    <div class="col-md-3 project-list">
      <% @portfolio.projects.each do |project| %>
        <a class="project-list-item" href="#"><%= project.name %></a>
      <% end %>
      <a class="project-list-item" href="#">Blah</a>
      <a class="project-list-item" href="#">PorkChops</a>
    </div>
    <div class="col-md-7 col-md-offset-1 project-content">
      <section class="row clearfix project-title">
        <div class="blocky pull-left">
        </div>
        <h1><%= @project.name %></h1>
        <h4><%= @project.description %></h4>
      </section>

      <p>
        <%= @project.features %>
      </p>
    </div>
  </div>
</section>
